---
const skills = {
    "Languages": ["Typescript", "Javascript", "Go", "HTML", "CSS"],
    "Frameworks": ["React", "Next.js", "Astro", "Go Fiber", "HTMX", "Elysia", "trpc"],
    "Server Side": ["REST API Design", "GRPC", "Ent.", "Gorm", "Postgres", "Redis", "Firebase", "Sqlite"],
    "Client Side": ["Redux","SWR/React-use-query", "React Performance", "Tailwind", "Prisma", "Drizzle", ],
    "Tools": ["Version Control Git", "Docker", "Shell", "Github Actions","Postman"]
    }
---

<div>
    <div class="">
        <h2 class="text-base !m-0 pb-4">I can help you with</h2>
    </div>
    <div class="space-y-2">
        {Object.entries(skills).map(([k,v]) => 
        <div class="md:grid md:grid-cols-5 flex flex-col">
            <p class="col-span-1 !m-0">{k}:</p>
            <p class="!m-0 col-span-4 text-zinc-500">
                {v.join(", ")}
                </p>
        </div>)}
    </div>
</div>
